Binaries
DerivedDataCache
Intermediate
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/**/FileOpenOrder/
Files
*_BuiltData.uasset
.idea
*.iml
Saved/Config
Saved/Autosaves
Saved/Backup
Saved/Crashes
Saved/Logs
Saved/StagedBuilds
Saved/EditorCooked
Thumbs.db
.DS_Store